<div class="container">
  <div class="row">
    <div class="image">
      <%= image_tag 'swift.jpg', class: 'swift' %>
    </div>
    <div class="title">
      Tweets to Taylor Swift mentioning the word 'happy'
    </div>
  </div>
  <div class="row">
    <div>
      <% @tweets.each do |tweet| %>
        <div class="tweet">
          <div class="tweet-name">
            @<%= tweet.user.screen_name %>:
          </div>
          <div class="tweet-content">
            <%= tweet.full_text.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
